@import './base.css';

@import 'tailwindcss';

@theme {
  --color-primary: #558b6e;
  --color-beige: #f3f3e2;
  --color-cinnamon: #b07156;
  --color-muted-teal: #a3bda8;
  --color-jungle-teal: #5b8e7d;
  --color-lemon-chiffon: #e1e1b7;
  --color-gunmetal: #3c3c3b;
}
